altgraph==0.17.2
asgiref==3.5.1
colorama==0.4.4
Django==4.0.4
future==0.18.2
image==1.5.33
pefile==2022.5.30
Pillow==9.1.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
PyQRCode==1.2.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pywin32-ctypes==0.2.0
qrcode==7.3.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
